<div class="container mt-4">
  <h1 class="mb-4">Post new Job</h1>

  <form #f="ngForm" (ngSubmit)="onFormSubmit(f)">
    <pre> {{ f.value | json }} </pre>
    <div class="mb-3">
      <label class="form-label">Job Title</label>
      <input
        required
        name="title"
        #header=""
        [ngClass]=""
        ngModel
        type="text"
        class="form-control"
        placeholder="Job Title"
      />
      <div *ngIf="" class="text-danger">This field is required</div>
    </div>

    <div class="mb-3">
      <label class="form-label">Job Description</label>
      <input
        required
        #subHeader=""
        [ngClass]=""
        name="description"
        ngModel
        type="text"
        class="form-control"
        placeholder="Job Description"
      />
      <div *ngIf="" class="text-danger">Description is required</div>
    </div>
    <!-- location -->

    <div class="mb-3">
      <label class="form-label">Location</label>
      <select
        name="location"
        [ngClass]=""
        #category=""
        ngModel
        required
        class="form-select"
      >
        <option selected>Select</option>
        <option value="Ontario, Canada">Ontario, Canada</option>
        <option value="British Columbia, Canada">
          British Columbia, Canada
        </option>
        <option value="Quebec, Canada">Quebec, Canada</option>
        <option value="Nova Scotia, Canada">Nova Scotia, Canada</option>
        <option value="Alberta, Canada">Alberta, Canada</option>
        <option value="Manitoba, Canada">Manitoba, Canada</option>
        <option value="Prince Edward Island, Canada">
          Prince Edward Island, Canada
        </option>
        <option value="Remote, Canada">Remote, Canada</option>
        <option value="California, USA">California, USA</option>
        <option value="Arizona, USA">Arizona, USA</option>
        <option value="New York, USA">New York, USA</option>
        <option value="Banglore, India">Banglore, India</option>
        <option value="Chennai, India">Chennai, India</option>
      </select>
      <div *ngIf="" class="text-danger fs-6 fst-italic">
        Please provide a location
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Skills</label>
      <input
        name="skills"
        [ngClass]=""
        #brand=""
        ngModel
        type="text"
        required
        class="form-control"
        placeholder="Skills"
      />
      <div *ngIf="" class="text-danger fs-6 fst-italic">
        Please provide required skills
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Company</label>
      <input
        [ngClass]=""
        #discount=""
        name="company"
        ngModel
        type="text"
        required
        class="form-control"
        placeholder="Organization"
      />
      <div *ngIf="" class="text-danger fs-6 fst-italic">
        Please provide a company name
      </div>
    </div>
    <!-- Expereince -->
    <div class="mb-3">
      <label class="form-label">Experience</label>
      <input
        [ngClass]=""
        #price=""
        name="experience"
        ngModel
        type="number"
        required
        class="form-control"
        placeholder="Experience"
      />
      <div *ngIf="" class="text-danger fs-6 fst-italic">
        Please provide number of experience required
      </div>
    </div>

    <!-- thumbnail -->
    <div class="mb-3">
      <label class="form-label">Thumbnail</label>
      <input
        [ngClass]=""
        #thumbnail=""
        name="thumbnail"
        ngModel
        type="text"
        required
        class="form-control"
        placeholder="Thumbnail"
      />
      <div *ngIf="" class="text-danger fs-6 fst-italic">
        Please provide a thumbnail
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Date</label>
      <input
        [ngClass]=""
        #rating=""
        name="DatePosted"
        ngModel
        type="date"
        required
        class="form-control"
        placeholder="Date"
      />
      <div *ngIf="" class="text-danger fs-6 fst-italic">
        Please provide a date
      </div>
    </div>

    <div class="mb-3">
      <button [disabled]="" type="submit" class="btn btn-primary mb-3">
        Post new Job
      </button>
    </div>
  </form>
</div>
