<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <!-- Indicators buttons -->
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <a
        class="nav-link main_btn"
        routerLinkActive="customActive"
        routerLink="/jobs"
        >Check All Jobs</a
      >
      <img
        [src]="logoFirst"
        class="d-block w-100 carousel-image"
        alt="logo_image_first"
      />
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
  </div>
</div>
